    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
                <div>
                    <h2 class="section-heading text-center">À propos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <br>
                    <p class="text-left" style="font-size:12pt;"> Depuis 2019, Peintre en bâtiment David Gagné Inc. est une entreprise de peinture spécialisée dans les secteurs résidentiel, commercial, et institutionnel. Nous avons évolué pour répondre aux besoins variés de notre clientèle dans la région de Thetford Mines, en offrant des services de qualité supérieure et des résultats exceptionnels. Notre engagement envers l'excellence et la satisfaction de nos clients nous distingue comme un leader dans le domaine. N'ésitez pas a <a class="page-scroll" href="#contact">nous contacter</a> pour une soumission gratuite!</p>
                    <br>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <img class="img-responsive" src="img/Panel.png" alt="">
                    <br>
                </div>
            </div>
    </section>
